.sidebar{
    width:var(--sidebar-width);
    background:var(--sidebar);
    border-right:1px solid var(--border);
    padding:20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar .logo{
    margin-bottom:40px;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.sidebar nav a{
    display:flex;
    align-items:center;
    gap:10px;
    padding:14px;
    border-radius:10px;
    transition:var(--transition);
}

.sidebar nav a:hover{
    background:var(--primary);
    color:#fff;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}